@media only screen and (min-width:370px) and (max-width:500px){
    :root{
        --font-style:"Montserrat", serif;
        --btn-color:rgb(223, 48, 150);
        --border-color:rgb(69, 166, 251);
        --text-color:rgb(255, 255, 255);
        --con-color:rgb(17, 18, 20);
        --body-color:rgb(19, 19, 19);
    }
    .container{
        width:100%;
        margin: 0px auto;
        height:100%;
        background-color: var(--con-color);    
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
    }
    .container h3{
        color:var(--text-color);
        font-size: 20px;
        margin: 15px 0px;
        font-family: "Montserrat", serif;
    }
/* NavBar Section */
#navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
}

#navbar ul li{
    list-style: none;
    padding: 0px 15px;
    font-size: 15px;
}

/* Home Section */
.home-contain{
    width: 100%;
    height: 100%;
    padding: 0px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

.item{
    width:100%;
    margin: 0;
}
.h-content h1{
    font-size: 30px;
    color: var(--text-color);
    margin:0;
}
.h-content p{
    margin:3px 0px;
    padding: 0%;
    font-size: 14px;
    color: var(--text-color);
    line-height: 1.6rem;
}
.btn-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-top:19px;
}
.btn-contain button{
    padding: 8px 6px;
    width: 170px;
    margin:12px 5px;
    font-family: var(--font-style);
    font-weight: 600;
    color: var(--text-color);
    border-radius: 2px;
}
/* Image Setion  */
.img-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
#img1 img{
    width: 250px;
    height: 280px;
}
#img2 img{
    width: 250px;
    height: 200px;
}
#img1{
    position: relative;
    top: 40px;
    left: 40px;
}
#img2{
    position: relative;
    bottom: 50px;
    right: 30px;
}
/* Stream Section */
.stream-contain{
    display: flex;
    width: 100%;
    height: 100%;
    margin:5px 0;
    padding: 0px 3px;
    flex-direction: column;
}
.stream-contain h2{
    font-size:35px;
    margin: 0%;
    font-family:var(--font-style);
    color: var(--text-color);
}
.stream-box{
    width: 100%;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;    
}
.stream-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 2px;
    color: var(--text-color);
}
/* Blog Section */
.blog-contain{
    width: 100%;      
    height: 100%;  
    margin-top:20px;
    padding: 0px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog-contain h1{
    font-size: 100px;
}

.blog-box{
    height: 100%;
    width: 100%;
}
.blog-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 18px 0px;
}
.b-item{
    width: 100%;
}
.b-item img{
    width:98%;
    height: 290px;
}

.b-item .btn-contain{
    margin: 25px 0px;
}
.b-content2 ,.b-content3{
flex-direction: column-reverse;
}
.icon-box{
    height: 30px;
    text-align: center;
}

/* Youtube Section */
.youtube-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
}
.youtube-box button{
    padding: 15px 20px;
    width: 200px;
    border-radius: 2px;
    color: var(--text-color);
}
.youtube-box h1{
    font-size: 30px;
    color: var(--text-color);
    font-family: var(--font-style);
}
.youtube-box div{
    margin: 0px 40px;
}
/* Footer Section  */
.foot-contain{
    display: flex;
    padding: 0px 3px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.f-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2px 0px;
}

.f-item li{
    font-family:var(--font-style);
    color: var(--text-color);
    list-style: none;
    margin: 5px 0px;
    
}
.f-item h3{
    font-family: var(--font-style);
    font-size: 17px;
    color: var(--text-color);
}
.f-item p{
    font-family: var(--font-style);
    color: rgb(190, 179, 179);
    font-size: 13px;
}
#Foot1{
 width: 100%;   
}
#Foot2{
    width: 100%;
}
#Foot3{
    width: 100%;
}
}