@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
   font-style: normal; */
*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --font-style:"Montserrat", serif;
    --btn-color:rgb(223, 48, 150);
    --border-color:rgb(69, 166, 251);
    --text-color:rgb(255, 255, 255);
    --con-color:rgb(17, 18, 20);
    --body-color:rgb(19, 19, 19);
}
.container{
    width:100%;
    margin: 0px auto;
    height:100%;
    background-color: var(--con-color);    
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

/* Navbar Section  */
.container h3{
    color:var(--text-color);
    font-size: 20px;
    font-family: "Montserrat", serif;
}
#navbar{
    width: 100%;
    background-color: var(--con-color);
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}

#navbar ul{
    display: flex;
    justify-content: center;

}
#navbar ul li{
    list-style: none;
    padding: 0px 20px;
    font-size: 15px;
}
#navbar li a{
    font-family:var(--font-style);
    color: var(--text-color);
    text-decoration: none;
}

/* Home Section  */
.home-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}
.item{
    width:48%;
}
.h-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--font-style);
}

.h-content h1{
    font-size: 60px;
    color: var(--text-color);
    margin:0;
}

.h-content p{
    margin: 0;
    font-size: 18px;
    color: var(--text-color);
    line-height: 2rem;
}
.btn-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top:30px;
}
.btn-contain button{
    padding: 15px 12px;
    width: 180px;
    justify-content: center;
    margin: 0 7px;
    font-family: var(--font-style);
    font-weight: 600;
    color: var(--text-color);
    border-radius: 3px;
    cursor: pointer;
}
.btn-contain button a{
    text-decoration: none;
    color: var(--text-color);
}
.bt1{
    background-image: linear-gradient(to right,rgb(247, 67, 202),rgb(199, 58, 228),rgb(30, 238, 227));
    border: none;
}
.bt2{
border: 1px solid white;
background-color: transparent;
}
.bt1:hover{
    background-image: linear-gradient(to right,rgb(250, 40, 198),rgb(172, 54, 196),rgb(56, 173, 168));
    transition: .2s all ease-in;
    border: 1px solid var(--border-color);

}
.bt2:hover{
    border: 1px solid var(--border-color);
    transition: .2s all ease-in;
}
/* Image Content  */
.img-content{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
}

#img1 img{
    width: 250px;
    height: 300px;
}
#img2 img{
    width: 300px;
    height: 200px;
}
#img1{
    position: relative;
    top: 50px;
    left: 100px;
}
#img2{
    position: relative;
    bottom: 40px;
}

/* Stream Section  */
.stream-contain{
    height: 450px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stream-contain h2{
    font-size: 60px;
    margin: 0%;
    padding: 0%;
    color: var(--text-color);
}
.stream-box{
    margin: 25px 0px;
}
.stream-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
    color: #b8b5b5;
    font-family: var(--font-style);
}

.stream-content h3,h4,h5{
width: 200px;
margin:0px 50px;
}
.stream-content h3{
    color: #b8b5b5;
    font-size: 55px;
}
.stream-content h4{
    color: #b8b5b5;
    font-size: 25px;
}
.stream-content h5{
    color: #b8b5b5;
    font-size: 20px;
}

.stream-btn{
    margin-top:40px;
}
.stream-btn button{
    width: 250px;
    padding: 20px 25px;
    border: none;
}

/* Blog Section  */
.blog-contain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;        
    margin-top: 30px;
}
.blog-contain h1{
    font-family: var(--font-style);
    font-size: 200px;
    margin: 0;
    font-weight: 1000;
    padding: 0;
    color:rgb(43, 39, 39);
}
.blog-box{
    width: 100%;
    margin-top: 40px;
}
.blog-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 420px;
    margin:0;
}
.b-content1{
    flex-direction: row-reverse;
}
.b-item{
    width: 45%;
    margin: 0px 15px;
}
.b-item img{
    width:500px;
    height: 370px;
}
.blog-item h3{
    font-family: var(--font-style);
    font-size: 35px;
    margin: 10px 0;
}
.blog-item p{
    font-family: var(--font-style);
    color: var(--text-color);
    font-size: 17px;
    margin: 10px 0;
    line-height: 2rem;
}
.blog-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
}
.icon-box i{
    font-size: 25px;
    color: white;
    margin: 0px 12px 0px 0px;
    border-radius: 100%;
    padding: 3px;
}
.icon-box i:hover{
    background-color: var(--btn-color);
    transition: .2s all ease-in;

}
/* Youtube Section  */
.youtube-box{
    height: 270px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.youtube-box button{
    padding: 15px 20px;
    width: 200px;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
}
.youtube-box button a{
    font-family:var(--font-style);
    color: var(--text-color);
    text-decoration: none;
}
.youtube-box h1{
    font-size: 40px;
    color: var(--text-color);
    font-family: var(--font-style);
}
.youtube-box div{
    margin: 0px 40px;
}
/* Footer Section */
.foot-contain{
    display: flex;
    justify-content:center;
    height:250px;
    width: 100%;
}
.f-item{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.f-item li{
    font-family:var(--font-style);
    color: var(--text-color);
    list-style: none;
    margin: 10px 0px;
    
}
.f-item h3{
    font-family: var(--font-style);
    font-size: 27px;
    color: var(--text-color);
}
.f-item p{
    font-family: var(--font-style);
    color: rgb(190, 179, 179);
    font-size: 20px;
}
#Foot1{
    width: 600px;
}
#Foot2{
    width:200px;
}
#Foot3{
    width: 200px;
}